@import 'tailwindcss';
@import './theme-variables.css';

@custom-variant dark (&:is(.dark *));

/* Quick pane needs transparent background for rounded corners to show */
html {
  /* Set a var based on platform */
  &[data-platform='windows'] {
    --body-bg: theme(colors.background);
  }
  &[data-platform='mac'] {
    --body-bg: transparent;
  }
  &:not([data-platform]) {
    --body-bg: transparent;
  }
}
#root {
  background: var(--body-bg, transparent) !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

body {
  font-family: -apple-system, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Use CSS var */
  background-color: var(--body-bg, transparent);
}

/* Allow text input */
input {
  user-select: text !important;
  -webkit-user-select: text !important;
  cursor: text !important;
}
